
@import './slso-clr17.css';

:root {

  // Semantic color names: Data types

  --type-string:  var(--gold);
  --type-number:  var(--blue);
  --type-config:  var(--green);
  --type-vector:  var(--red);
  --type-gen:     var(--pink);


  // Semantic color names: UI Elements

  --bg-color:         var(--night);
  --border-color:     var(--grey);
  --node-body-color:  var(--dark);
  --node-text-color:  var(--bright);
  --highlight-color:  rgba(255, 230, 200, 0.2);
  --shade-color:      rgba(46, 44, 59, 0.2);
  --error:            var(--red);


  // Variables

  --std-pad: 0.7rem;
  --std-gap: 1.0rem;
  --std-gutter: 3rem;
  --node-radius: 0.4rem;
  --node-radius-minus-one: 0.47rem;
  --sigil-size: 1.8rem;
  --port-height: 1.1rem;
  --input-height: 1.8rem;


  // Base Styles

  * { box-sizing: border-box; }

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--node-text-color);
  background-color: darkred;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


// Reset

body {
  margin: 0;
}



// Custom Button

button {
  font-size: 1rem;
  border: 1px solid var(--highlight-color);
  background-color: transparent;
  font-family: inherit;
  padding: 0 1rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 3rem;
  white-space: nowrap;

  background-image: linear-gradient(
    to bottom right,
    var(--highlight-color) 10%,
    var(--shade-color) 100%
  );
  text-shadow: 0px 1px 3px var(--shade-color), 2px 2px 0px var(--shade-color);
  mix-blend-mode: luminosity;

  background-position: 0 0;
  background-size: 100% 100%;
  cursor: pointer;
  transition:
    border-color 0.1s ease-in-out,
    background-size 0.1s ease-in-out,
    background-position 0.1s ease-in-out;

  &:hover {
    border-color: var(--bright);
  }

  &:active {
    border-color: var(--night);
    background-size: 200% 200%;
    background-position: 100% 100%;
  }  
}


// Animations n stuff

.debug-traces {
  &, & * {
    box-shadow: 0 0 0 1px white inset;
  }
}

.big-text {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

@keyframes progress {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

