
//
// TodayLand v2 - https://lospec.com/palette-list/today-land-palette-v2
//

--black: #141414;
--dark:  #31383d;
--grey:  #5a676c;
--light: #94a8aa;
--white: #edefef;
--fire-4: #5e1632;
--fire-3: #ae2432;
--fire-2: #e37017;
--fire-1: #f4bf42;
--earth-4: #452323;
--earth-3: #7e423a;
--earth-2: #c67742;
--earth-1: #f0b784;
--air-4: #1b3845;
--air-3: #21675f;
--air-2: #34b06f;
--air-1: #98e88a;
--water-4: #212363;
--water-3: #264ba4;
--water-2: #1e8fde;
--water-1: #6cd5e4;
--heart-4: #441c5c;
--heart-3: #8e307f;
--heart-2: #e4629a;
--heart-1: #f2b4b7;

